.login-page .hero-container{
    display: flex;
    flex-direction: column;
    background-image: url("/images/Login-Ellipse.png");
    background-color: #fff;
    justify-content: center;
    align-items: center;
    /* padding: 32px; */
    background-size: cover;
    height: 65vh;
    width: 100vw;
}

.main-header{
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}

.main-header span{
    font-weight: 600;
}

.login-friends-img{
    height: 300px;
    width: 280px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form-header{
    color: #2A4D76;
    margin-top: 16px;
}

input{
    border: none;
    outline: none;
    padding: 6px;
    flex-grow: 1;
}


.input-container{
    padding: 12px ;
    padding-right: 18px;
    border-radius: 28px;
    border: 1px solid #4592EC;
    width: 90%;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
}

.login-btn{
    background-color: #4592EC;
    color: #fff;
    border-radius: 16px;
    padding: 16px;
    border: none;
    width: 100px;
    margin-bottom: 10px;

}

.err-msg{
    color: #FF3333;
    height: 40px;
}

i{
    color: #4592EC;
    cursor: pointer;
}
